@font-face {
	font-family: CenturyGothic;
    src: url(GOTHICB.ttf);
    font-weight: bold;
}
@font-face {
	font-family: CenturyGothic;
    src: url(GOTHICBI.ttf);
    font-weight: italic,bold;
}
@font-face {
	font-family: CenturyGothic;
    src: url(GOTHICI.ttf);
    font-weight: italic;
}

@font-face {
	font-family: CenturyGothic;
    src: url(GOTHIC.ttf);
}

/*
    Colors to use:
    Orange: rgb(253, 119, 66);
    Border orange: rgb(253, 97, 35);
    Blue: rgb(0, 162, 255);
    Border blue: rgb(0, 119, 255);
*/

body {
    font-family: CenturyGothic;
    font-size: 140%;
    margin: 0;
    padding: 0;

}
input {
    font-family: CenturyGothic;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

textarea {
    font-family: CenturyGothic;
    resize: none;
    border-radius: 15px;
    padding: 2%;
    outline: none;
}
button {
    font-family: CenturyGothic;

}
select {
    font-family: CenturyGothic;

}

ul {
    font-family: CenturyGothic;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 162, 255);
    position: fixed;
    width: 100%;
    max-height: 8%;
    padding-left: 2%;
}
a {
    text-decoration: none;
}

h2 {

    margin: 0%;
}

#container {
    text-align: center;
    margin-top: 5%;
}

#menu {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    color: rgb(255, 255, 255);
    z-index: 1;
}

#settingsMenu {
    float: left;
    padding-top: 2.2%;
    max-width: 15%;
    border-collapse: collapse;
    height: 85%;

}

#userSettingsContent {
    min-width: 50%;
    min-height: 55%;
    float: left;
}

.userSettingsContentBorder {
    border: solid;
    border-width: 1px;
    border-color: rgb(169, 169, 169);
    border-radius: 15px;
}

#editProfileContent {
    border: solid;
    border-width: 1px;
    border-color: rgb(169, 169, 169);
    border-radius: 15px;
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;

}

#editProfileContentPane {

    padding: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

#info {
    color: rgb(255, 0, 0);
}

#regInfo {
    color: rgb(255, 0, 0);
}

#closeDiv {
    margin-right: 0%;

}

#userPanel {
    float: right;
    z-index: 2;
}

#searchbar {

    padding-top: 0.25%;
}

.form {
    width: 100%;
    text-align: center;
    float: left;
    font-size: 100%
}

.menuA {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: block;
    float: left;
    padding: 1% 2%

}

.menuA:hover {
    background-color: rgb(253, 119, 66);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: block;
    float: left;
    padding: 1% 2%;
}

.menuLogo {
    margin-top: 0.25%;
    float: left;
    height:85%;
    margin-right: 1.5%;

}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.4);
    padding-top: 60px;

}

.modalContent {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    box-shadow: 4px 6px 5px rgb(100, 100, 100);
}


.formText {
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    padding-top: 0%;
    padding-bottom: 0%;

}

.formButton {
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 162, 255);
    border: none;
}

.formButton:disabled, .formButton:hover:disabled {
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(169, 169, 169);
    border: none;
}

.formButton:hover {
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(253, 119, 66);
    border: none;

}

.textarea {
    width: 90%;
    min-height: 5%;
    font-size: 90%;
}

.button {
    float: left;
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 162, 255);
    border-color: rgb(0, 119, 255);
    border-width: 1px;
    outline: none;
}

.selectedButton {
    float: left;
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(253, 119, 66);
    border-color: rgb(253, 97, 35);
    border-width: 1px;
    outline: none;
    /*border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;*/
}

.button:hover {
    width: 90%;
    min-height: 5%;
    font-size: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(253, 119, 66);
    border-color: rgb(253, 97, 35);
    border-width: 1px;

}

.close {
    position: relative;
    float: right;
    color: rgb(0,0,0);
    font-size: 35px;
    font-weight: bold;
    margin-top: -5%;
}
.close:hover, .close:focus {

    color: rgb(255, 0, 0);
    cursor: pointer;

}
#sidebar_left {
   
}
#searchbar {
    float: left;
    margin-top: 0.6%;
    margin-left: 1%;
    text-decoration: none;
}
